{% extends 'base.html.twig' %}

{% block content %}
<h2>Missions</h2>
<ul >
    {% for mission in missions %}
    <a href="{{ path('mission_assign_team', {id: mission.id}) }}" >
    <div class="card">
        <h3>{{ mission.title }} - {{ mission.location }}</h3>
        <p>
            {% for competence in mission.requiredCompetences %}
                - {{ competence.name }} (Niveau {{ competence.lvl }})<br>
            {% endfor %}
        </p>
        Assigner une équipe
    </div>
    </a>
{% endfor %}

</ul>

{% endblock %}
